<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    </head>
    <body>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            {% for category in recipeCategory %}    
            <li class="divider"></li>
            <li><a href="{{url_for('browse_recipes', recipe_category_name = category.recipe_category_name)}}">{{category.recipe_category_name}}</a></li>
            {% endfor %}
        </ul>
        <nav>
          <div class="nav-wrapper">
            <a href="{{url_for('index')}}" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="{{url_for('index')}}">Home</a></li>
              <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-menu" href="#!" data-target="dropdown1">Recipes<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><i id="search-btn" class="material-icons">search</i></li>
            </ul>
          </div>
        </nav>
        <!--Main Body-->        
        <div class="container">
            {% block content %} {% endblock %}
        </div>
        
        <!--Search Overlay-->
            <div id="search-overlay" class="block">
                <div class="centered">
                    <div id='search-box'>
                        <i id="close-btn" class="fa fa-times fa-2x"></i>
                        <form action="{{url_for('receive_keyword')}}" id='search-form' method='post' target='_top'>
                            <input id='search-text' name='keyword' placeholder='Search' type='text' />
                            <button id='search-button' type='submit'>                     
                                <span>Search</span>
                            </button>
                      </form>
                    </div>
                 </div>
            </div>
            
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    </body>
</html>