{% extends 'base.html' %} {% block content %}
Displaying {{count_recipes}} Recipe(s). No of Pages: {{total_no_of_pages}}
<p>Recipe Pages = {{recipe_pages}}</p>
     {% for recipe in recipes %}
        <div class="col s12 m7">
            <div class="card horizontal">
              <div class="card-image">
                <a href="{{url_for('recipe_page', recipe_id = recipe._id)}}"><img src="{{recipe.recipe_image}}"></a>
              </div>
            <div class="card-stacked">
                <div class="card-content">
                  <a href="{{url_for('recipe_page', recipe_id = recipe._id)}}"><h5>{{recipe.recipe_name}}</h5></a>
                  <p>{{recipe.recipe_description}}</p>
                </div>
            <div class="card-action">
              <a href="{{url_for('recipe_page', recipe_id = recipe._id)}}">View Recipe >>></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}    