{% extends 'base.html' %} {% block content %}
<div class="slideshow-container">
  {% set _stub = recipes.rewind() %}
  {% for recipe in recipes if recipe.featured_recipe == "on" %}
  <div class="mySlides fade">
    <img src="{{recipe.recipe_image}}" style="width:100%">
    <div class="text"><h3>{{recipe.recipe_name}}</h3></div>
  </div>
{% endfor %}
</div>
<br>

<div class="row">
  <div class="col s8">
{% set _stub = recipes.rewind() %}
     {% for recipe in recipes %}
            <div class="card">
              <div class="card-image">
                <a href="{{url_for('recipe_page', recipe_id = recipe._id)}}"><img src="{{recipe.recipe_image}}"></a>
              </div>
            <div class="card-title">
                <div class="card-content">
                  <a href="{{url_for('recipe_page', recipe_id = recipe._id)}}"><h5>{{recipe.recipe_name}}</h5></a>
                  <p>{{recipe.recipe_description}}</p>
                </div>
            <div class="card-action">
              <a href="{{url_for('recipe_page', recipe_id = recipe._id)}}">View Recipe >>></a>
            </div>
          </div>
        </div>
        {% endfor %}


            </div>
      <div class="col s3 offset-s1">

</div>
{% endblock %}    

