{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col s12">
        <h4>{{recipe.recipe_name}}</h4>
    </div>
</div>
<div class="row">
    <div class="col s5">
       <p><img src="{{recipe.recipe_image}}" style="width:100%;"></p> 
    </div>
    <div class="col s7">
        
    </div>
</div>
<div class="row">
    <div class="col s12">
        <p><em>{{recipe.recipe_description}}</em></p>
    </div>
</div>
<div class="row">
    <div class="col s4">
        <h5>Ingredients</h5>
        <ul>
            {% for items in recipe.recipe_ingredients %}
            <li>{{items}}</li>
            {% endfor %}
        </ul>        
    </div>
    <div class="col s7">
        <h5>Method</h5>
        <ol>
            {% for items in recipe.recipe_method %}
                <li>{{items}}</li>
            {% endfor %}
        </ol>   
    </div>
</div>
<div class="row">
    <div class="col s12"><p>Recipe Tags: </p>
        {% for items in recipe.recipe_tags %}
            {% if items !="" %}
                <div class="chip">
                    <a href="{{url_for('search_tag',tag=items, page=1)}}">{{items}}</a>
                </div>
            {% endif %}
        {% endfor %}
        
    </div>
</div>

            <p>Prep Time: {{recipe.recipe_prep_time}} minutes</p>
            <p>Cook Time: {{recipe.recipe_cook_time}} minutes</p>
            <p>Author: {{recipe.author_name}}</p>
                {% if (session['logged_in'] and user.author_name == recipe.author_name) %}
                    <a href="{{url_for('edit_recipe', recipe_id = recipe._id)}}">Edit Recipe</a>
                    <a href="{{url_for('delete_recipe', recipe_id = recipe._id)}}">Delete Recipe</a>
                {% endif %}
                {% if session['logged_in'] and recipe_id in recipe_rated_by_author %}
                    <p>You have already rated this recipe</p>
                {% for rating in recipe.ratings %}
                Ratings: <div class="star-ratings-sprite"><span style="width:{{((rating.overall_ratings / 5)*100)}}%" class="star-ratings-sprite-rating"></span></div>
                
                
                {{rating.overall_ratings}} out of 5 from {{rating.no_of_ratings}} ratings.
                {% endfor %}
                {% else %} 
            {% if session['logged_in'] %}
            <form action="{{ url_for('recipe_rating', recipe_id=recipe._id)}}" method="POST">
                {% for rating in recipe.ratings %}
                Ratings: <div class="star-ratings-sprite"><span style="width:{{((rating.overall_ratings / 5)*100)}}%" class="star-ratings-sprite-rating"></span></div>
                
                
                {{rating.overall_ratings}} out of 5 from {{rating.no_of_ratings}} ratings.
                
                {% if rating.total_ratings == 0 %}
                    <p>Don't be shy be the first to rate this recipe</p>
                {% else %}
                    <p>Have your say - Rate this recipe:</p>
                {% endif %} 
                {% endfor %}
                    <div class="input-field col s10 m3">
                        <select id="new_rating" name="new_rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected>5</option>
                    </select>
                    </div>
                    <div class="input-field col s2">
                        <button type="submit">Rate!</button>
                    </div>
                </form>
            {% else %}
                <p><a href="{{url_for('signin')}}">Login</a> to rate recipes!</p>
            {% endif %} 
            {% endif %} 
        

   
                
                
{% endblock %}    