{% extends 'base.html' %} {% block content %}
    {% if session['logged_in'] %}
     <h5 class="center">You are currently logged in. <br /><br />Registration not required!</h5>
     <p class="center">Go to <a href="{{url_for('my_recipes',page=1)}}">My Recipes</a></p>
     {% else %}
     <form action="/signup" method="POST">
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Sign Up</h1>
                </div>
                <div class="login-form">
                    <div class="control-group">
        			    <input type="text" class="login-field" value="" placeholder="Full Name" name="author_name" required>
                        <label class="login-field-icon fui-user" for="author_name"></label>
                    </div>                    
                    <div class="control-group">
        			    <input type="text" class="login-field" value="" placeholder="Username" name="username" required>
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>
                    <div class="control-group">
        				<input type="password" class="login-field" value="" placeholder="Password" name="password" required>
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
                    <input type="submit" value="Join Now" class="btn btn-primary btn-large btn-block">
                 </div>
                 <div class="register">
                     <p>Already have an account? <a href="{{url_for('signin')}}">Sign in</a></p>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
{% endblock %}  